{% load placeholder %}
<div class="form-group{% if field.errors %} has-error{% endif %}">
  <label for={{ field.auto_id }}>{{ field.label }}
    {% if field.errors %}<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>{% endif %}
  </label>
    {{ field }}
    {% if field.errors %}
      {% for err in field.errors %}
        <small>{{ err }}</small>
      {% endfor %}
    {% endif %}
    <span class="help-block">{{ text }}</span>
</div>
