{% extends "base.html" %}
{% load staticfiles crispy_forms_tags %}

{% block extra_head %}
{% endblock %}

{% block jumbotron_content %}
<h2>Летняя школа &mdash; волонтёрский проект</h2>
<p>И как любой полевой проект, нуждается в добровольцах, желающих поработать руками.
</p>
{# Переписать так, чтобы было гендерозависимо #}
{% endblock %}

{% block main_content %}
<div class="col-lg-6">
{% crispy form %}
</div>
{% endblock main_content %}
