{% extends "base.html" %}
{% load staticfiles crispy_forms_tags %}

{% block jumbotron_content %}
<h2>Как вы узнали про ЛШ и почему захотели приехать?</h2>
{% endblock %}

{% block main_content %}
<div class="container">
  {% crispy form %}
</div>
{% endblock %}
