{% extends "base.html" %}
{% load staticfiles crispy_forms_tags %}

{% block jumbotron_content %}
<h2>Помощь на ЛШ</h2>
<p>Чем вы можете пригодиться на школе? Всегда нужны люди, помогающие приводить хаос в порядок, составлять раписания занятий/дежурств/уборок, помощь по IT, организовывать развлекательные мероприятия и тому подобное.</p>
{% endblock %}

{% block main_content %}
  {% crispy form %}
{% endblock %}
