{% extends "base.html" %}
{% load staticfiles crispy_forms_tags %}

{% block extra_head %}
  <script src="{% static 'js/knockout-3.3.0.js' %}"></script>
<style>
  .not {
    display: none;
  }
</style>

<style type="text/css">
  input[name="workshop"] {
    width: 100%;
  }
</style>
{% endblock %}

{#{% block main_content %}{% crispy form %}{% endblock %}#}

{% block jumbotron_content %}
  <h1>Дела минувших дней</h1>
  <p>Вы уже были на Летней Школе раньше? Хотите к нам опять? Коль скоро это так, нам интересно знать, на каких мастерских вы были раньше.</p>
{% endblock %}

{% block main_content %}
<div class="col-lg-12">
  <h2>Укажите школы и мастерские, на которых вы были раньше.</h2>
  <p>Если вы бывали на других крупных образовательных проектах (Селигер), ЗПШ, другие &mdash; расскажите подробнее, нам интересно!</p>

  <div class="table-responsive">
    <table class="table" id="tblSchoolsControl">
      <colgroup>
        <col width="10%">
        <col width="15%">
        <col width="60%">
        <col width="10%">
      </colgroup>

    <thead>
      <tr>
        <th>Год</th>
        <th>Это была ЛШ?</th>
        <th>Название, мастерская или направление</th>
        <th></th>
      </tr>
  <form data-bind="submit: addSchool">
      <tr>
        <td valign="center">
          <select class="form-control input-sm" data-bind="options: $root.availableYears, value: newEventYear"></select>
        </td>
        <td valign="center">
          <select name="lsh" class="form-control input-sm" data-bind="options: $root.lsh_bool, optionsText: 'name', value: newEventLSH"></select>
        </td>
        <td class="text-center"><input class="form-control" data-bind="value: newEventName" placeholder="Название мастерской"/></td>
          <td class="text-center" valign="center">
              <button class="btn btn-primary" type="submit" data-bind="enable:schools().length < 5">Добавить</button>
          </td>
      </tr>
  </form>
    </thead>
    <tbody data-bind="foreach: schools">
        <td class="text-center" valign="center" data-bind="text: year"></td>
        <td class="text-center" valign="center" data-bind="text: lsh"></td>
        <td class="text-center" valign="center" data-bind="text: event_name"></td>
        <td class="text-center"><a class="btn" href="#" data-bind="click: $root.removeSchool">Убрать</a></td>
    </tbody>
    </table>
  </div> <!-- // table-responsive -->

  <p>Указывайте не больше пяти школ, на которых вы были (сейчас указано <span data-bind="text: schools().length"></span>)</p>
</div>

<div class="container">
<form action="" method="post" class="form-horizontal" id="wizard_form">
  {% crispy form %}
</form>
</div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
<script>
// Class to represent a row in the seat reservations grid
function SchoolEntry(data) {
   this.event_name = ko.observable(data.event_name);
   this.lsh = ko.observable(data.lsh);
   this.year = ko.observable(data.year);
}

function EntriesViewModel() {
    var self = this;
    self.newEventName = ko.observable();
    self.newEventLSH = ko.observable();
    self.newEventYear = ko.observable();
    self.availableYears = ko.observableArray([2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004]);
    self.lsh_bool = ko.observableArray([
        { name: "Да, ЛШ", payload: "Да"},
        { name: "Нет, не ЛШ", payload: "Нет"},
    ]);

{% if schools_data %}
  {% for entry in schools_data %}
    {% if forloop.first %}
    self.schools = ko.observableArray([
    {% endif %}
      new SchoolEntry({
        event_name: "{{ entry.event_name }}",
        lsh: "{{ entry.lsh }}",
        year: {{ entry.year }},
      }),
    {% if forloop.last %}
    ]);
    {% endif %}
  {% endfor %}
{% else %}
    self.schools = ko.observableArray();
{% endif %}

    self.addSchool = function() {
        self.schools.push(new SchoolEntry({
            event_name: this.newEventName(),
            lsh: this.newEventLSH().payload,
            year: this.newEventYear(),
        }));
    }

    self.removeSchool = function(s) { self.schools.remove(s) }
}

ko.applyBindings(new EntriesViewModel());
</script>

{% endblock scripts %}
