{% comment %}
{% if wizard.steps.prev %}
  <button name="wizard_goto_step" type="submit" class="btn btn-lg btn-default" value="{{ wizard.steps.first }}">В начало</button>
<button name="wizard_goto_step" type="submit" class="btn btn-lg btn-info" value="{{ wizard.steps.prev }}">На шаг назад</button>
{% endif %}
{% endcomment %}

<button type="submit" class="btn btn-lg btn-primary">
  Дальше
</button>
