{% extends "base.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block jumbotron_content %}
  {% if wizard.form.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Ошибка</strong> при заполнении этого шага
    </div>
  {% endif %}
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 35%;">
        35%
  </div>
</div>
  <h1>Шаг 3: Чем занимаетесь?</h1>
  <p>На школу приезжают совершенно разные люди. Нам важно знать, кто и зачем. Вдруг, и вы нам пригодитесь.</p>
{% endblock %}


{% block main_content %}
<form action="" method="post" class="form-horizontal">{% csrf_token %}
{{ wizard.management_form }}
{{ wizard.form.as_ul }}

{% include "intake/wizard/_navigation.html" %}

</form>
{% endblock %}
