{% extends "base.html" %}
{% load i18n staticfiles %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block extra_head %}
<style type="text/css">
  input[name="workshop"] {
    width: 100%;
  }
</style>
{% endblock %}

{% block jumbotron_content %}
  {% if wizard.form.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Ошибка</strong> при заполнении этого шага
    </div>
  {% endif %}
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
        40%
  </div>
</div>
  <h1>Шаг 5: Дела минувших дней</h1>
  <p>Вы хотите к нам? Опять? Зачем?</p>
  <p>Но коль скоро это так, нам интересно знать, на каких мастерских вы были раньше.</p>
{% endblock %}


{% block main_content %}
<div class="col-lg-8">
  <h2>Укажите школы и мастерские, на которых вы раньше были.</h2>
  <p>Не больше трёх, желательно.</p>

  <div class="table-responsive">
    <table class="table" id="tblSchools">
      <colgroup>
        <col width="10%">
        <col width="80%">
        <col width="10%">
      </colgroup>
    <thead>
    <form id="formSchools">
      <tr>
        <th>Год</th>
        <th>Мастерская</th>
        <th></th>
      </tr>
      <tr>
        <th valign="center">
          <select name="year" class="form-control input-sm">
            <option value="2004">2004</option>
            <option value="2005">2005</option>
            <option value="2006">2006</option>
            <option value="2007">2007</option>
            <option value="2008">2008</option>
            <option value="2009">2009</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
          </select>
        </th>
        <th>
          <input type="text" name="workshop" placeholder="Название мастерской" />
        </th>
        <th>
          <a class="btn btn-primary btn-xs" disabled href="#" id="btnAddEntry" autofocus>Добавить запись</a>
        </th>
      </tr>
    </thead>
      </form>
    <tbody>
    </tbody>
  </table>
  </div>
</div>


<form action="" method="post" class="form-horizontal" id="wizard_form">{% csrf_token %}
{{ wizard.management_form }}
{{ wizard.form.as_ul }}

{% include "intake/wizard/_navigation.html" %}

</form>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'js/jquery.tmpl.js' %}"></script>
  <script src="{% static 'js/jquery-serialization.js' %}"></script>
  <script src="{% static 'js/jquery.tabletojson.min.js' %}"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>

<script id="schoolRow" type="text/x-jQuery-tmpl">
<tr>
<td class="text-center">${year}</td>
<td>${workshop}</td>
<td><a class="btn btn-danger btn-xs deleteRow" href="#">Удалить запись</a></td>
</tr>
</script>

<script>
$(function() {
  {#$('form#formSchools').validate();#}
  $('#wizard_form').submit(function() {
    // need to populate the hidden schools field before submission

    // ignore the button column, ignore the first row
    var table = $('#tblSchools').tableToJSON({ignoreColumns: [2]}).splice(1); 

    if (table.length == 0) {
      return false;
    }

    var inp = $('input[name="beenbefore-where_have_you_been"]');

    inp.val(table);

    return true;
  });
});
</script>

<script>
$('input[name="workshop"]').change(function() {
  if ($('input[name="workshop"]').val() != "") {
    $("#btnAddEntry").removeAttr("disabled");
  } else {
    $("#btnAddEntry").attr("disabled", "disabled");
  }
});

$('#btnAddEntry').click(function(evt) {
  evt.preventDefault();
  var entry = $('#formSchools').toObject();
  $('#schoolRow').tmpl(entry).appendTo($('#tblSchools tbody'));
  $('input[name="workshop"]').val("");
  $("#btnAddEntry").attr("disabled", "disabled");
});

$('#tblSchools tbody').on('click', '.deleteRow', function(evt) {
    evt.preventDefault();
    $(evt.target).parents('tr').remove();
});
</script>
{% endblock scripts %}


