{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block extra_head %}
{{ wizard.form.media }}
{% endblock %}

{% block jumbotron_content %}
  {% if wizard.form.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Ошибка</strong> при заполнении этого шага
    </div>
  {% endif %}
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
      25%
  </div>
</div>
  <h1>Шаг 2.5: Информация о родителях</h1>
  <p>Для несовершеннолетних участников нам надо знать ещё немного дополнительной информации о вас.</p>
{% endblock %}

{% block main_content %}
<form action="" method="post">{% csrf_token %}
<table>
{{ wizard.management_form }}
{{ wizard.form }}
</table>

{% include "intake/wizard/_navigation.html" %}

</form>
{% endblock main_content %}

{% block scripts %}
{{ block.super }}
<script src="{% static "js/jquery.maskedinput.min.js" %}"></script>
<script type="text/javascript">
jQuery(function($){
     $("#id_parentsinfo-parental_phone").mask("+7 (999) 999-9999");
});
</script>
{% endblock scripts %}
