{% extends 'base.html' %}

{% block jumbotron_content %}
  {% with application as a %}
  <h1>Вступительное задание</h1>
  <p>{{ a }}<br/>от <strong>{{ a.created }}</strong> [{{ a.created|timesince }} назад].<br/>

  <a class="btn btn-default" href="{% url 'curators:app_details' a.pk %}">Полная анкета</a>
    {% with a.wp_slug_tuple as wp %}
      <a class="btn btn-default" href="{% url 'curators:apps_list' wp.0 wp.1 %}">
        Назад к анкетам {{ wp.0 }}/{{ wp.1 }}
      </a>
    {% endwith %}
  {% endwith %}

{% endblock %}

{% block main_content %}
  {% with a=application wp=application.wp_slug_tuple %}
  <small class="text-muted">
    <a href="{{ homework.assignment_absolute_url }}" class="btn btn-xs btn-primary">Скачать</a>
    само задание, которое решал участник
  </small>
  <h2>Ответ на предложенное задание</h2>
  <p>Ответ на задание состоит из, собственно, файла-ответа и опционального комментария к приложенному ответу.</p>
  <h3>Текстовая часть ответа (&laquo;комментарий&raquo; участника):</h3>
  <pre class="pre-scrollable pre-comment">{{ homework.comment }}</pre>
  <small class="text-muted">
    <a class="btn btn-sm btn-info" href="{% url 'curators:app_download_homework' a.pk a.get_homework.pk %}">
      Скачать файл-ответ
    </a> на предложенное участнику задание.
  </small>

  {% if a.is_changeable_by_curator %}
  {% include "intake/curators/_apps_list_accept_modal.html" %}
    <hr>
    <p>Устраивает?</p>
    <div class="caption">
      <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_acceptapp" data-applicant="{{ a.pk }}" data-fullname="{{ a.short_info.last_name }} {{ a.short_info.first_name }}" data-workshop="{{ a.wp_names_tuple.0 }}" data-program="{{ a.wp_names_tuple.1 }}">Принять на {{ wp.0}}/{{ wp.1}}</button></p>

        <a href="{% url 'curators:app_decline' a.pk %}" class="btn btn-default" role="button">
            Отказать
        </a>
      </p>
    </div>
  {% endif %}
  {% endwith %}
{% endblock %}

{% block extra_scripts %}
  {% include "intake/curators/_apps_list_accept_modal.js" %}
{% endblock extra_scripts %}
