{% extends "base.html" %}


{% block jumbotron_content %}
  <h1>{{workshop_name|title}}<small>/{{program_name}}</small></h1>
  <h2>&laquo;Отказанные заявки&raquo;</h2>

<ul class="nav nav-pills" role="tablist">
  <li role="presentation">{% include 'intake/curators/_wp_apps_tab.html' %}</li>
  <li role="presentation">{% include 'intake/curators/_wp_retry_tab.html' %}</li>
  <li role="presentation">{% include 'intake/curators/_wp_accepted_tab.html' %}</li>
  <li role="presentation" class="active">{% include 'intake/curators/_wp_declined_tab.html' %}</li>
</ul>
{% include 'intake/curators/_prepods_inactive_tabs.html' %}

<p><a href="{% url 'curators:shout_out_wp_declined' workshop_slug program_slug %}" class="btn btn-default">Шатаут всем этим отказникам</a></p>

{% endblock %}

{% block content %}
  {% include 'intake/curators/_apps_list_paginated.html' %}
{% endblock %}
