{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block jumbotron_content %}
  <h2>Управление вступительными заданиями</h2>
  <p>На этой странице можно просмотреть или заменить вступительные задания, которые будут автоматически отправляться вашим участникам, после того, как те проходят группу набора.</p>
  <p>У вас есть возможность редактировать задания следующим программам:
  <ol>
  {% for w_p in w_metas %}
    <li>{{ w_p.workshop_name }}: &laquo;{{ w_p.program_name }}&raquo; (<a href="http://letnyayashkola.org/{{ w_p.workshop_slug }}">страница на letnyayashkola.ORG)</a></li>
  {% endfor %}
  </ol>
</p>
{% endblock %}

{% block main_content %}
  <h3>Текущие вступительные задания:</h3>
  <ol>
  {% for hw in w_homeworks %}
    {% with hw.workshop_program as w_p %}
      <li>{{ w_p.workshop_name }}: &laquo;{{ w_p.program_name }} ({{ w_p.workshop_slug }}/{{ w_p.program_slug }}: <a href="{{ hw.file_absolute_url }}">файл с заданием</a> от {{ hw.date_uploaded }}</li>
    {% endwith %}
  {% endfor %}
  </ol>

  <h3>Залить новое задание</h3>
  {% crispy form %}

{% endblock %}
