<li class="timeline-inverted">
  <div class="timeline-badge warning"><i class="glyphicon glyphicon-chevron-right"></i></div>
  <div class="timeline-panel">
    <div class="timeline-heading">
      <h4 class="timeline-title">Анкета заполнена</h4>
      <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ case.created|date:"d E Y H:i" }}</small></p>
    </div>
    <div class="timeline-body">
      <p>Заполненная анкета первого тура направлена группе &laquo;Набор&raquo;. Она будет передана в мастерскую в первый тур не позднее, чем через 5 дней после заполнения.</p>
    </div>
  </div>
</li>
