<li>
  <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
  <div class="timeline-panel">
    <div class="timeline-heading">
      <h4 class="timeline-title">Вас одобрил &laquo;Набор&raquo;</h4>
      <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ case.datetime_workshop_notified|date:"d E Y H:i" }}</small></p>
    </div>
    <div class="timeline-body">
      <p>Вы прошли формальные признаки отбора на ЛШ, впереди интересная часть.</p>
      {% if not homework %}
      <p>В ближайшее время с вами выйдут на связь кураторы мастерской и/или вы получите вступительное задание.</p>
      {% endif %}
    </div>
  </div>
</li>
