<li class="timeline-inverted">
  <div class="timeline-badge default"><i class="glyphicon glyphicon-exclamation-sign"></i></div>
  <div class="timeline-panel">
    <div class="timeline-heading">
      <h4 class="timeline-title">(Второй тур на мастерской)</h4>
    </div>
    <div class="timeline-body">
      <p class="text-muted">Чтобы не путаться и не расстраиваться, мы не будем показывать, что происходило до того, как вы взяли вторую попытку.</p>
    </div>
  </div>
</li>
