{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block jumbotron_content %}
  <H1>Промоушен</h1>
  <p>Пользователь с указанным емейлом найден, теперь давай привяжем его к какой-то программе</p>

  <h2>User #{{ user.pk }} aka {{ user.first_name }} {{ user.last_name }}</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <dl>
          <dt>email:</dt>
            <dd>{{ user.email }}</dd>
          <dt>date joined:</dt>
            <dd>{{ user.date_joined }}</dd>
            <dt><abbr title="это не последняя активность, а когда пароль вводися">last login:</abbr></dt>
            <dd>{{ user.last_login }} </dd>
        </dl>
      </div>

      <div class="col-md-6">
        {% if has_goodies %}
        <dt>плюшки:</dt>
        {% if goodies.is_curator %}
        <dd>is_curator: {{ goodies.is_curator }}</dd>
        {% for p in programs %}
          {% if forloop.first %}
          <ul>
          {% endif %}
          <li>
            {{ p }}
          </li>
          {% if forloop.last %}
          </ul>
          {% endif %}
        {% empty %}
        <dd>(при этом ни к какой программе не привязан. Weird)</dd>
        {% endfor %}
        {% endif %}
        <dd>nabor group: {{ goodies.is_nabor }}</dd>
        <dd>site guru: {{ goodies.is_guru }}</dd>
        {% endif %}
        </dl>
      </div>
    </div>
  </div>
{% endblock %}

{% block main_content %}
  {% crispy form %}
{% endblock %}
