{% extends "base.html" %}
{% load intake_extras %}

{% block jumbotron_content %}
<h1>Spam list</h1>

<p>Просто все, что есть. Все записи по всем пользователям, которые так или иначе были в базе на сайте.</p>
<p><strong>Независимо от того, приняли их или нет.</strong></p>
<p>А надо? Это можно скопировать и просто вставить в libreoffice/excel.</p>
{% endblock %}

{% block main_content %}
  {% for w_slug, p_slug, last_name, first_name, middle_name, bdate, email in all_apps %}
    {% if forloop.first %}
    <table class="table table-striped responsive">
      <thead>
      <tr>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>email</th>
        <th>Дата рождения</th>
        <th>Мастерская</th>
        <th>Программа</th>
      </tr>
      </thead>
      <tbody>
    {% endif %}

    <tr>
      <td>{{ last_name }}</td>
      <td>{{ first_name }}</td>
      <td>{{ middle_name }}</td>
      <td>{{ email }}</td>
      <td>{{ bdate }}</td>
      <td>{% w_slug_to_name w_slug workshops_slug2name_dict %}</td>
      <td>{% p_slug_to_name p_slug programs_slug2name_dict %}</td>
    </tr>

    {% if forloop.last %}
      </tbody>
    </table>
    {% endif %}
  {% endfor %}

{% endblock %}
