{% extends "base.html" %}
{% load staticfiles %}

{% block extra_head %}
  <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/knockout-3.3.0.js' %}"></script>
{% endblock %}

{% block jumbotron_content %}
  <h1>Ура</h1>
<p>Это свершилось, поздравляем. Можно подать заявку на ЛШ-2020. Заполните поля анкеты и скорее отправляйте заявку дальше по цепочке.
</p>
<p><a href="{% url 'help'%}">Помощь</a>.</p>
{% endblock %}

{% block main_content %}

  {% include "intake/_application_first_step_fields.html" %}

<div class="row"><hr/></div>

<div class="row">
  <div class="col-md-6">
    <h4>Анкета первого шага</h4>
    {% for k, t, v in  1st_step_info.required %}
      {% if forloop.first %}
      <h4>Обязательные поля</h4>
        <ul class="list-unstyled">
      {% endif %}
      <li>
        <a href="#{{ t }}">{{ k }}</a>:
        {% if v %}
          <span class="glyphicon glyphicon-ok alert-success"></span>
        {% else %}
          <span class="glyphicon glyphicon-remove"></span>
        {% endif %}
        {{ v|yesno:"данные есть,<span class='alert-danger'>не хватает данных</span>"|safe }}
      </li>
      {% if forloop.last %}
      </ul>
      {% endif %}
    {% endfor %}
  </div>

  <div class="col-md-6">
    {% if not profile.is_underage %}
      {% for k, t, v in  1st_step_info.optional %}
        {% if forloop.first %}
        <h4>Необязательные поля</h4>
          <ul class="list-unstyled">
        {% endif %}
        <li>
          <a href="#{{ t }}">{{ k }}</a>:
          {% if v %}<span class="glyphicon glyphicon-ok alert-success"></span>
          {% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}
          {{ v|yesno:"данные есть,не хватает данных" }}
        </li>
        {% if forloop.last %}
        </ul>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if lock_button %}
      <br/>
      <div class="panel panel-warning text-center">
        <div class="panel-heading">
          <strong>Дальше пути нет.</strong>
        </div>
        <div class="panel-body">
          Ещё не все обязательные поля анкеты заполнены.
        </div>
      </div>
    {% endif %}
  </div>

</div>
{% if INTAKE_IS_CLOSED and not locked_to_workshop %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-danger">
      <div class="panel-heading">
        Набор закрыт
      </div>
      <div class="panel-body">
        Вы опоздали. Достаньте чернила и ждите февраля.
      </div>
    </div>
  </div>
</div>
{% else %}
    <p>Остались неотвеченные вопросы? отправьте их по почте <a href="mailto:nabor@letnyayashkola.org">нашей группе &laquo;Набор&raquo;</a>.</p>
<div class="row">
  <div class="form-group well">
  <p class="lead">Эта анкета не является анонимной. Основная часть представленных вами данных будет доступна членам организационного комитета Летней школы.</p>
  <p class="lead">Ваш номер телефона может быть использован организаторами для оповещения (звонок и\или смс-сообщение) о чрезвычайных ситуациях, для отправки вам сообщений через мессенджер Telegram. </p>
  <div class="checkbox">
    <label>
      <input type="checkbox" data-bind="checked: confirmAgree"> Я согласен на обработку, использование и хранение моих данных организаторами Школы</p>
    </label>
  </div>

  <a href="{% url 'intake:complete_first_step' %}" class="btn btn-block btn-success" {% if lock_button %}disabled{% endif %} data-bind="visible: confirmAgree">Поехали дальше! {% if lock_button%}(но сначала заполни все обязательные поля){% endif %}</a>
  </div>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script language="javascript">
function AppViewModel() {
  this.confirmAgree = ko.observable(false);
}

// Activates knockout.js
ko.applyBindings(new AppViewModel());
</script>
{% endblock %}
