{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}

    {% if messages %}
	{% for message in messages %}
  <div class="alert alert-info" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Сообщение:</strong> {{message}}
  </div>
	{% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}

    {% block scripts %}
      <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      {% block extra_scripts %}
      {% endblock %}
    {% endblock %}
  </body>
</html>
