{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<h1>{% trans "Verify Your E-mail Address" %}</h1>

{% url 'account_email' as email_url %}

<p>Для доступа в эту часть сайта, необходимо подтвердить ваш email.</p>

<p>Мы отправили на указанный вами ящик ссылку для подтверждения. Пожалуйста, пройдите по ссылке внутри письма. Если что-то пойдёт не так, свяжитесь с нами (например, если письмо не пришло в течение получаса)</p>

<p><strong>NB:</strong> при желании можно <a href="{{email_url}}">поменять указанный вами e-mail адрес</a>.</p>


{% endblock %}
