{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}Подтвердите ваш email{% endblock %}

{% block content %}
<div class="container">
    <h1>Подтвердите ваш email</h1>

    <p>Для подтверждения, мы отправили на указанный вами ящик письмо. Пройдите по ссылке внутри письма, чтобы завершить процедуру регистрации. Пожалуйста, свяжитесь с нами, если вы не получите письма в ближайшие несколько минут.</p>

    <p class="lead">ПОЖАЛУЙСТА, ПРОВЕРЬТЕ, ЧТО ПИСЬМО НЕ ПОПАЛО СЛУЧАЙНО В ПАПКУ &laquo;СПАМ&raquo;, ПРЕЖДЕ ЧЕМ ПИСАТЬ О ВАШЕЙ БОЛИ НАШИМ АДМИНИСТРАТОРАМ.</p>

</div>
{% endblock %}
