{% load intake_extras %}
  {% if a.bucks.nabor_rejected %}
    <b>NB: Анкете отказано.</b>
  {% endif %}
  <a href="{% url 'intake:accept_app' a.pk %}" class="btn btn-success btn-block" {% if not a|is_passable %}disabled="True"{% endif %}>
    Одобрить и<br/>отправить в {% if a.bucks.retry_granted %}(новую){% endif %} мастерскую
  </a>
  <a href="{% url 'intake:request_photo_change' a.pk %}" class="btn btn-default btn-block">Попросить поменять фото</a>

  <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#modal_returnapp" data-applicant="{{ a.pk }}" data-fullname="{{ a.short_info.last_name }} {{ a.short_info.first_name }}">Вернуть анкету участнику<br/>на доработку</button>

  {% if a.is_suspicious %}
    <a href="{% url 'intake:demark_suspicious' a.pk %}" class="btn btn-default btn-block">Снять подозрение</a>
  {% else %}
    <a href="{% url 'intake:mark_suspicious' a.pk %}" class="btn btn-default btn-block">Убрать в сомнительные</a>
  {% endif %}

  {% if not a.bucks.nabor_rejected %}
    <a href="{% url 'intake:reject_app' a.pk %}" class="btn btn-default btn-block">В отказники</a>
  {% endif %}

{% if a.is_closed %}
  <p>Формально, дело по анкете#{{ a.pk }} закрыто.</p>

  {% if in_rejected %}
    <a href="{% url 'intake:unreject_app' a.pk %}" class="btn btn-default btn-block">Пардон, дрогнула рука.<br/>Вернить обратно</a>
  {% else %}
    {% if a.bucks.nabor_rejected %}
    Анкете отказано. Отменить решение можно из раздела &laquo;<a href="{% url 'intake:rejected_apps' %}">отказники</a>&raquo;
    {% endif %}
  {% endif %}

  {% if in_wdeclined %}
    <a href="{% url 'intake:reject_app' a.pk %}" class="btn btn-default btn-block">В совсем отказники</a>
    <a href="{% url 'intake:reopen_app_case' a.pk %}" class="btn btn-default btn-block">Переоткрыть дело</a>

  {% endif %}

{% endif %}
