{% extends "base.html" %}


{% block jumbotron_content %}
<h1>Свежие заявочки</h1>
<p>Самые старые заявки идут первыми. Уже сомнительные и те, кому надо поменять фото не отображаются</p>

<ul class="nav nav-tabs">
  <li role="presentation">
    <a href="?page=last">сразу на последнюю страницу</a>
  </li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
    Свежак по мастерским <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      {% for slug, name in workshops.items %}
      <li>
        <a href="{% url 'intake:workshop_fresh_apps_specific' slug %}">
	{{ name }} ({{ slug }})
        </a>
      </li>
      {% endfor %}
    </ul>
  </li>
</ul>

{% endblock %}

{% block content %}
  {% include "intake/staff/_app_list_reject_modal.html" %}

<div class="container">

{% include "intake/_paginator.html" %}

{% for a in applications %}
  {% with a.short_info as u %}
<div class="row{% if a.is_blacklisted %} bg-danger{% endif %}">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="{{ u.photo.photo_absolute_url }}">
    </div>
  </div>

  <div class="col-md-5">
    {% if a.is_blacklisted %}<h3><span class="glyphicon glyphicon-warning-sign"></span>&nbsp;Возможно,&nbsp;чёрный&nbsp;список!</h3>
    <h3><span class="bg-warning">{{ a.blacklist_category }}</span></h3>
    {% endif %}
    <h4>{{ u.last_name }} {{ u.first_name }} <span class="text-muted">{{ u.middle_name }}</span></h4>
    <dt><small>{{ u.location }}</small></dt>
    <dd><ins>{{ u.email }}</ins></dd>
    <dd><small>Возраст: {{ u.age }} (ДР {{ u.birthdate }})</small></dd>
    {% if u.is_underage %}
      <dt>Утверждает, что к лету закончит класс:</dt>
      <dd>{{ u.underage_data.cls_finished }}</dd>
    {% endif %}
      <dt>Мастерская/программа</dt>
      {% with a.wp_names_tuple as wp %}<dd>{{ wp.0 }}/{{ wp.1 }}</dd>{% endwith %}
      <dd><a href="http://letnyayashkola.org/{{ u.wpc.workshop_slug }}/">Описание мастерской на сайте</a></dd>
      <dd><a href="{# url 'intake:workshop_fresh_apps_specific' u.wpc.workshop_slug #}" class="btn btn-xs btn-default">Все свежие заявки мастерской ({{ u.wpc.workshop_slug }})</a></dd>

      <dt>Заявка создана</dt>
      <dd>{{ a.created }}<br/>{{ a.created|timesince }} назад</dd>
      <br/>
      <a href="{% url 'intake:app_detail' a.pk %}">Вся анкета</a>
  </div>

  <div class="col-md-3">
    <div class="thumbnail">
      <div class="caption">
    <h4>Ссылки</h4>
      </div>

      {% include "intake/staff/_control_buttons.html" %}

    </div>
  </div>

</div>

{% if a.comments %}
  <div class="well">
  {% include "intake/staff/_app_comments.html" with comments=a.comments %}
  </div>
{% endif %}

<hr>
  {% endwith %}
{% empty %}
<div class="row">
  <div class="col-md-6">
А нет таких заявок! Гуляй, Вася, ешь опилки.
  </div>
</div>
{% endfor %}

{% include "intake/_paginator.html" %}


</div>


{% endblock %}

{% block extra_scripts %}
  {% include "intake/staff/_app_list_reject_modal.js" %}
{% endblock extra_scripts %}
