{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block extra_head %}
<style>
  #id_text {
    height: 300px;
  }
</style>
{% endblock %}

{% block jumbotron_content %}
  <h2>Письмо</h2>
<p><strong>Как обычно, почтовые сервера подозревают, что мы шлём спам.</strong> Это может означать, что письма могут не доходить до папки &laquo;входящие&raquo; участника. На этот случай информация появится у него в профиле.</p>
{% endblock %}

{% block main_content %}
  <h3>Пояснительное письмо:</h3>
  {% crispy form %}

{% endblock %}
