{% extends "base.html" %}

{% block jumbotron_content %}
  <h1>Отклонённые мастерскими заявки</h1>
<p>Последние изменённые идут первыми. Я несколько раз неслабо запутался, когда это делал, поэтому после некоторых из действий вас может кидать в неожиданный список.</p>
<h2>Как "воскресить" заявку</h2>
<p>Делается в два шага:
<ol>
  <li>
    <strong>Переоткрыть дело по заявке</strong>. Это даст возможность сменить ей мастерскую.
  </li>
  <li>
    <strong>Поменять мастерскую заявке</strong>. Если у новой мастерской есть вступительное задание, Сара его вышлет. Заодно станет доступна кнопка "Одобрить и направить в (новую) мастерскую. <strong>Сразу после этого заявка будет направлена в новую мастерскую и пропадёт из этого списка</strong>
  </li>
</ol>
</p>

<em>Фильтр по мастерским прикручивается.</em>
{% comment %}
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Выбрать мастерскую
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    {% for w_slug, w_name in workshops.items %}
      <li role="presentation">
        <a
          role="menuitem"
          tabindex="-1"
          href="{% url 'intake:workshop_declined_apps_specific' w_slug %}">
          {{ w_name }} ({{ w_slug }})
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endcomment %}
{% endblock %}

{% block content %}
  {% include "intake/staff/_apps_list.html" %}
{% endblock %}
